.loginform{
    width: 25%;
    height: 24em;
    margin: 2em;
    border-radius: 6px;
    
    justify-content: space-evenly;
}
.login{
    display: flex;
    justify-content: center;
    
    padding: 3em;
}
.loginsubmit{
    width: 25%;
    align-self: center;
    background: black;
    color: white;
}